//- 
  author: Sebastian Dammark (Knöw)

head
  meta(charset="utf-8")
  title Website Title
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  link(rel="stylesheet" href="/frontend/styles/main.css")