body {
  &:before {
    position: fixed;
    z-index: 10;
    bottom: 0px;
    left: 0px;
    width: 100%;
    line-height: 50px;
    background: rgba(0,0,0,.5);
    color: #fff;
    text-align: center;
    content: 'Phone';
    
    @include respond-above('phone') {
      content: 'Tablet';
    }
    
    @include respond-above('tablet') {
      content: 'Tablet Wide';
    }
    
    @include respond-above('tablet-wide') {
      content: 'Desktop';
    }
    
    @include respond-above('desktop') {
      content: 'Desktop Wide';
    }
  }
}